.current-price {
    color:#fff;
    font-family: 'Oswald', sans-serif;
    span {
        display:block;
        color:$primary;
        margin:0;
        font-weight: normal;
        font-size: 11px;
        text-transform:uppercase;
    }
    p {
        margin:0;
        font-size:4rem;
        font-weight: 600;
        font-size: 28px;    
        color:#fff;
    }
}