.staking-modal {
    visibility: hidden;
    width: 400px;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 200ms linear;
    background: #000000c7;
    box-shadow: 0px 20px 56px #000000;
    opacity: 0;
    border-radius: 10px;
    padding: 0px 0;
    height: 500px;
    margin-top: -100px;
    .max-balance {      
        font-size: 12px;
        right: 0;
        text-decoration: underline;
        color:#fff;
        opacity: 0.5;  
        width:100%;
        text-align:right;
        display:block;
    }
    h2 {
        text-align: center;
        font-family: 'Cosmos';
        color: #dcef14;
        background: linear-gradient(180deg, rgba(208, 224, 39, 0.2) -0.05%, rgba(220, 239, 20, 0.2) 47.89%, rgba(91, 97, 31, 0.2) 47.9%, rgba(233, 255, 0, 0.2) 100%), #d0e027;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 0px 14px rgba(208, 224, 39, 0.39));
        margin-bottom: 20px;
        margin-top:55px;
        font-size: 50px;
    }

    h4 {
        text-align:center;
        color:#fff;
    }

    .staking-body {
        padding: 15px 15px;
    }

    .toggle {
        background: transparent;
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        z-index: 3;

        svg {
            opacity: 0.5;
            color: #fff;
        }

        &:hover {
            svg {
                opacity: 1;
            }
        }
    }

    &.show {
        opacity: 1;
        margin-top: 0;
        visibility: visible;
    }
}

.backdrop {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 888;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 200ms linear;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}