// (Required) Import Bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$primary: #DCEF14;
$secondary: green;

$theme-colors: (
  primary: $primary,
  secondary: $secondary
);
// (Required) Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";




@font-face {
  font-family: 'Cosmos';
  src: local('Cosmos'), url('../fonts/AVCosmos-Regular.woff') format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@import "./buttons";
@import "./cards";
@import "./app.scss";